/**
2018年1月5日 星期五
公共基础样式文件
**/

/* 
    流程主体容器 
    网格底色
*/
.flow-body > svg{
    /* background-color: #677;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAALUlEQVQ4jWNsbW39z0BFwMLAwMBQVVXFSC0Dmahl0KiBowaOGjhq4KiBNDYQAEuQBCeLBWNhAAAAAElFTkSuQmCC); */
    

    /* background-color: white;
    background-image: radial-gradient(gray 20%,transparent 0),
                        radial-gradient(gray 20%,transparent 0);
    background-size: 5px 5px;
    background-position: 0 0, 20px 20px;  */

    background-image:
        linear-gradient(90deg,rgba(161, 167, 177, 0.329) 12%,transparent 0), 
        linear-gradient(rgba(161, 167, 177, 0.329) 12%,transparent 0); 
    background-size:10px 10px;
}

/* 舍弃布局 */
.flow-body-no-el > svg{
    /* width: 200px;
    height: 200px; */
    border-left: 1px solid rgb(209, 195, 197);
    border-top: 1px solid rgb(209, 195, 197);
    background-image: 
        -webkit-linear-gradient(180deg, rgb(209, 195, 197) 1px, transparent 1px) , 
        -webkit-linear-gradient(90deg, rgb(209, 195, 197) 1px, transparent 1px)
        ;
    background-size: 10px;
    line-height: 10px;
    font-size:25px;
    letter-spacing: 5px;   
    /* transform-origin: 50% 50% 0px; */
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

/* 悬停提示 */
.flowts-tip{
    position: absolute;
    background-color: cornsilk;
}


